
.state-hc {
  background-color: #282c34;
  height: 104px;
  min-width:  104px;
  background: url('https://weatherstack.com/site_images/weather_icon_partly_cloudy.svg');
  background-size:contain;
  margin:0px 20px;
  
}


.itemCardWeather {
  min-width: 190px;
  margin:10px 20px;
  /* flex-direction: row; */
}

.rowWeathers{
  display: flex;
  flex-direction: row;
  justify-items: first baseline;
}

.styleTemp{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin:10px 10px
}

.styleTemp p {
  margin: 3px 10px;
}

.visualPicture {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* .state-sl {background("/static/img/weather/sl.svg")}
.state-h {background("/static/img/weather/h.svg")}
.state-t {background("/static/img/weather/t.svg")}
.state-hr {background("/static/img/weather/hr.svg")}
.state-lr {background("/static/img/weather/lr.svg")}
.state-s {background("/static/img/weather/s.svg")}
.state-hc {background("/static/img/weather/hc.svg")}
.state-lc {background("/static/img/weather/lc.svg")}
*/

